<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

<table class="cert" style="border: 15px solid #0072c6; border-right: 15px solid #0894fb; border-left: 15px solid #0894fb; width: 700px; font-family: arial; color: #383737;">
  <tr>
    <td align="center" class="crt_logo" style="padding: 30px;">
      <img src="https://www.davidbenrimon.com/files-wide/uploads/logo-placeholder@2x.png" alt="logo" style="width: 130px; height: auto; margin: auto;">
    </td>
  </tr>
  <tr>
    <td align="center">
      <h1 class="crt_title" style="margin-top: 30px; font-family: 'Satisfy', cursive; font-size: 40px; letter-spacing: 1px; color: #0060a9;">HICC Order</h1>
      <h2>{{ subject_message }}</h2>
      <h3>{{ content_message }}</h3>
    </td>
  </tr>
  <tr>
    <td align="center">
    </td>
  </tr>
</table>