<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

<table class="cert" style="width: 700px; font-family: arial; color: #FF643C;">
  <tr>
    <td align="center" class="crt_logo" style="padding: 30px;">
      <img src="https://avatars.githubusercontent.com/u/164727897?s=400&u=848e540adacd7fda063246ae7b31f8d7abafd576&v=4" alt="logo" style="width: 130px; height: auto; margin: auto;">
    </td>
  </tr>
  <tr>
    <td align="center">
      <h2>{{ subject_message }}</h2>
      <h3 style="color: #000000">{{ content_message }}</h3>
    </td>
  </tr>
  <tr>
    <td align="center">
    </td>
  </tr>
</table>